root = true

[*]
indent_style = tab
indent_size = 4
tab_width = 4
end_of_line = crlf
trim_trailing_whitespace = true

[*.cs]
dotnet_sort_system_directives_first = true

# CS0436: Type conflicts with imported type
dotnet_diagnostic.CS0436.severity = none

# SA1201: An operator should not follow a method
dotnet_diagnostic.SA1201.severity = none

# SA1204: Static members should appear before non-static members
dotnet_diagnostic.SA1204.severity = none
